/* Menu */

.menu {
    background-color: var(--background-menu);
}

.menu__links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu__links__drop {
    position: relative;
}

.menu__links__drop__icon {
    width: 3rem;
    height: 3rem;
    background-image: url("../assets/Menu.png");
    display: inline-block;
}

.menu__links__drop__categories {
    display: none;
    width: 280px;
    height: 244px;
}

.menu__links__drop__categories__link {
    background: var(--background-blue-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-weight: 400;
}

.menu__links__drop__categories li:first-child {
    color: var(--background-yellow);
    font-weight: 700;
    font-size: 16px;
}

.menu__links__drop__button {
    display: none;
}

.menu__links__drop__button:checked~.menu__links__drop__categories {
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    top: 100%;
    background-color: var(--background-white);
}

.menu__links__drop__button:checked~.menu__links__drop__icon {
    /* background-image: url("../assets/Menu-blue.png"); */
    /* width: 100%; */
}    

.menu__links__link:nth-child(3) {
    margin-left: auto;
}